.Attribute button {
  padding: 0.2em;
  box-shadow: 0;
  border: 1px black solid;
  margin-left: 0.2em;
}

.Attribute button:hover {
  box-shadow: 0 0 1px;
}

.right-float {
  float: right;
}

.Attribute {
  width: 40%;
  position: relative;
  float: left;
}