.Character {
  background: white;
  border: 1px solid lightgrey;
  padding: 1em;
  margin: 1em;
  position: relative;
}

.Character .right-top {
  position: absolute;
  padding: 1em;
  top: 0;
  right: 0;
}

.Character .max-width {
  max-width: 600px;
}

.Character .character-stuff div {
  border-bottom: 1px black solid;
  padding: 1em 1em 0 1em;
}

.Character input {
  /* display: inline; */
  width: 100%;
  border: 0px;
}

.clearit {
  clear: both;
}