.App {
  background: rgb(221, 221, 221);
  position: relative;
}

button {
  background: white;
  border: 0;
  transition: box-shadow ease-in 0.1s;
  box-shadow: 0;
  padding: 1em;
  margin-top: 2em;
}

button:hover{
  box-shadow: 0px 0px 5px #333;  
}